.technology-bg {
	background-image: url('../../public/assets/technology/background-technology-mobile.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
	position: absolute;
	z-index: -1;
	inset: 0;

	min-width: 100%;
	min-height: 100%;
}

.technology {
	color: var(--white);
}

.container {
	display: flex;
	flex-direction: column;
}

.img {
	height: 170px;
	margin-block: 32px 34px;

	position: absolute;
	width: 100vw;
	left: 0;
	object-fit: contain;
}

.btn-wrapper {
	position: relative;
	margin-top: 236px;
	display: flex;
	gap: 16px;
	justify-content: center;
	margin-bottom: 26px;
}

.btn {
	border-radius: 50%;
	border: 1px solid rgba(255, 255, 255, .25);
	height: 40px;
	width: 40px;
	font-family: var(--fontAlt);
	background-color: transparent;
	color: var(--white);
	font-size: 16px;
	cursor: pointer;
}

.btn:hover {
	border: 1px solid var(--white);
}

.btn.active {
	/*outline: 1px solid red;*/
	background-color: var(--white);
	color: var(--mainBlack);
	border: 1px solid var(--white);
}

.technology-text {
	text-align: center;
	width: 327px;
	margin: auto;
}

.technology-text__intro {
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 2.3625px;
	color: var(--astral);
	text-transform: uppercase;
}

.technology-text__title {
	font-size: 24px;
	line-height: 28px;
	color: var(--white);
	text-transform: uppercase;
}


.technology-text__description {
	color: var(--astral);
	font-size: 15px;
	line-height: 25px;
}


@media screen and (min-width: 768px) {
	.technology-bg {
		background-image: url('../../public/assets/technology/background-technology-tablet.jpg');
	}
	.img {
		height: 310px;
		margin-block: 60px 56px;
	}
	.btn-wrapper {
		margin-top: 490px;
		margin-bottom: 44px;
	}
	.btn {
		height: 60px;
		width: 60px;
		font-size: 24px;
	}
	.technology-text {
		width: 458px;
	}
	.technology-text__intro {
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 2.7px;
	}
	.technology-text__title {
		font-size: 40px;
		line-height: 46px;
	}
	.technology-text__description {
		font-size: 16px;
		line-height: 28px;
	}
}

@media screen and (min-width: 1440px) {
	.technology-bg {
		background-image: url('../../public/assets/technology/background-technology-desktop.jpg');
	}
	.technology {
		margin-top: 76px;
	}
	.container {
		flex-direction: row;
		justify-content: space-around;
	}
	.container > picture {
		order: 3;
		width: 515px;
	}
	.img {
		display: flex;
		position: relative;
		width: 515px;
		height: 527px;
		order: 3;
		margin: 0;
	}
	.btn-wrapper {
		display: flex;
		flex-direction: column;
		margin: unset;
		order: 1;
	}
	.btn {
		height: 80px;
		width: 80px;
		font-size: 32px;
	}
	.technology-text {
		order: 2;
		width: 470px;
		margin-inline: 80px 130px;
	}
	.technology-text__title {
		font-size: 56px;
		line-height: 64px;
	}
	.technology-text__description {
		font-size: 18px;
		line-height: 32px;
	}
}