@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

:root {
  --fontMain: 'Barlow Condensed', sans-serif;
  --fontMain2: 'Barlow', sans-serif;
  --fontAlt: 'Bellefair', serif;
  --mainBlack: hsl(230, 35%, 7%);
  --astral: hsl(231, 77%, 90%);
  --white: hsl(0, 0%, 100%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--fontMain);
}

a {
  color: var(--white);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
